<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- GLOBAL PARAMETERS -->
	<params lang='en' console='true'/>
	
	
	<!-- ADDITIONAL LIBRARIES -->
	<!--<lib 
		id='gestouch'
	/>-->
	
	
	<!-- API KEYS -->
	<keys>
		<key id='DISTRIQT' value='7feb47748262ffbb5f31ef405d4a12e056d8b5baCbwkX+qQworgp6da0aqmoSfJMFEXKvgwMMRbGBFnCDdidRUEDCOUmPp/23QFaFISisSLAGnq/nSETOdPnhdtPw=='/>
	</keys>
	
	<chrome>false</chrome>
	

</config>
